body,header,nav,section,aside, article, footer{
	display:block;
}
body {
     background-color:#f7f8f9;
 
	 
}
#container{

    margin: 0 auto;
    max-width: 1600px;
    height:auto;
}
header{
	 background-color:#091c3a;
	 width:97%;
	 display:inline-block;
	 padding:0 1.5% 0 1.5%;
    
	 
}
header h1{
	color:#ffffff;
	vertical-align:center;
    float:left;
	font-family: Arial, Helvetica, san-serif;
	font-weight:bold;
	font-size:2.5em;
    text-transform: capitalize;
}
header h2{
	display:inline-block;
	color:#e1831c/*#58A8A5*/;
	padding:50px 10px 0 10px;
	font-size:2.5em;
	float:right;
	margin:0 100px 0 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
	
}
.navigation{
	display:block;
	margin:0 auto;
	
}
	
nav{
    width:97%;
	background-color:#58A8A5;
	color:#ffffff;
	overflow:auto;
	padding:0 1.5% 0 1.5%;
	
	
}

nav ul li{
	display:inline-block;
	padding: 15px 1.5% 15px 1.5% ;
	margin:0 auto;
	
}
nav ul li a{
	display:inline-block;
	text-decoration:none;
	text-transform: capitalize;
	color:#ffffff;
	background-color:#091c3a;
	padding:5px;
	font-weight:bold;
	margin-right:20px;
	border:1px solid #091c3a;
	border-radius:5px;
	
}
nav a:hover{
	background-color:#ffffff;
	color:#091c3a;

}

section{
	display:inline-block;
    padding: 1% 1.5% 1% 1.5%;
    width: 97%;
	height:auto;
	background-color:#cce4e4;
	
	
}
.text{
	display:inline-block;
	width:64%;
	padding:3%;
	float: left;
}

.text p{
	font-family: Verdana;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-indent:10px;
	padding-top:5px;

}
article{
	display:inline-block;
	position:relative;
	float:right;
}
.imagesite{
	display:inline-block;
	background-color:#091c3a;
	float: right;
    padding: 3%;
    width: 24%;
	min-height:400px;

}
.imagesite img{
	display:block;
    max-width:100%;
    height: auto;
	border:1px solid #ffffff;
	margin-bottom:10px;
	margin-right:20px;
	float:left;
   
	
}

.imagesite p{
	font-family: Verdana,Geneva,sans-serif; 
	font-size:15px;
	color:#ffffff;
	float:right;
	
}
footer{
	display:inline-block;
    width: 94%;
    padding: 3%;
    background-color: #FF5722;
    border-top: 5px solid #E64A19;
    color: #fff;
    text-align: center;
	clear:both;

}


 
